[submodule "libs/dox"]
	path = libs/dox
	url = https://github.com/HaxeFoundation/dox.git
[submodule "libs/hxparse"]
	path = libs/hxparse
	url = https://github.com/Simn/hxparse.git
[submodule "libs/hxtemplo"]
	path = libs/hxtemplo
	url = https://github.com/Simn/hxtemplo.git
[submodule "libs/hxargs"]
	path = libs/hxargs
	url = https://github.com/Simn/hxargs.git
[submodule "libs/haxe-markdown"]
	path = libs/haxe-markdown
	url = https://github.com/dpeek/haxe-markdown.git
